page-statistics {

        .scroll-content {
            background-color: map-get($colors, white);
        }
 
        ion-card-header {
            font-weight: bold;
        }
    
    table {
        font-size: 9px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 6px;
}
    tr:nth-child(even){background-color: #f2f2f2}
}


