page-workout-details {
    div.header {
        height: 55px;
        width: 100%;
        padding:12px;
        background: #efefef;

        img{
            width: 30px; 
            float:right;
        }

        span {    
            width: 60%;
            float: left;
            text-align: left;
            font-size: 25px;
        }
    }
}
