
<ion-header>

  <ion-navbar color="sportner">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div align="center"*ngFor="let user of userData.users">
    <ion-icon name="contact" style="font-size: 200px; color: #b5b1b2"></ion-icon>
    <div class="bla" style="font-size: 25px; color:#ff4d4d; ">
        <b> {{user.firstName}} {{user.lastName}}</b> <br>
    </div>
    
    <button ion-button round outline [navPush]="editprofile">Edit profile</button>
</div>

        
<ion-card *ngFor="let user of userData.users">
    
    <ion-card-content style= "font-size: 18px; padding: 18px 18px 18px 18px">
         Birthdate: &nbsp; &nbsp; <b>{{user.birthdate}} </b><br>
         Gender: &nbsp; &nbsp; &nbsp; &nbsp;<b> {{user.gender}} </b><br>
         Height: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b> {{user.height}} cm  </b><br>
         Weight: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>  {{user.weight}} kg </b><br>
       <br><i>  Notes: &nbsp; &nbsp; &nbsp; &nbsp;{{user.notes}} </i>
    </ion-card-content>
    </ion-card>
</ion-content>
