<!--
  Generated template for the Diary page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="sportner">    
    <div padding>
      <ion-segment [(ngModel)]="entries" color="light">
        <ion-segment-button value="workout">
          Workouts
        </ion-segment-button>
        <ion-segment-button value="rhr">
          RHR
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab bottom right>
    <button ion-fab mini [navPush]="newrhrPage"color="danger"><ion-icon name="heart"></ion-icon></button>
    <button ion-fab mini [navPush]="newworkoutPage" color="primary" ><ion-icon name="football"></ion-icon></button>
  </ion-fab>
  <!--
  <ion-fab bottom right>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="heart"></ion-icon></button>
      <button ion-fab><ion-icon name="football"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  -->

  <div [ngSwitch]="entries">
    <ion-list *ngSwitchCase="'workout'">
      <ion-card *ngFor="let workout of workoutsService.getFormatedWorkouts()" (click)="showWorkout(workout.id)">
        <ion-item>
          <ion-avatar item-left>
            <img src="img/{{activities.getItem(workout.activity).icon}}">
          </ion-avatar>
          <h2>{{activities.getItem(workout.activity).name}}</h2>
          <p>{{workout.date}}</p>
        </ion-item>

        <ion-card-content>
          <p>{{workout.note}}</p>
   
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'rhr'">
      <ion-item *ngFor="let rhr of rhrService.getFormatedRHREntries()">
        <ion-avatar item-left>
          <ion-icon name="heart"></ion-icon>
        </ion-avatar>
        <h2>{{rhr.value}} BPM</h2>
        <ion-note item-end>{{rhr.day}}.{{rhr.month}}.{{rhr.year}}</ion-note>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
